/data
/playground
/archive
/guix
/inst/CITATION
.vscode/
*.Rproj
.Rproj.user
anglemania.Rproj
.Rhistory
.Rprofile
/docs
/doc/
/inst/doc
vignettes/*.html
vignettes/*_files
src/*.o
src/*.so
src/*.dll
src/*.a
air.toml
/Meta/
.lintr