/data
/playground
/archive
/guix
/inst/CITATION
.vscode/
*.Rproj
.Rproj.user
anglemania.Rproj
.Rhistory
.Rprofile
/docs
/doc/
/inst/doc
vignettes/*.html
vignettes/*_files
*.o
*.so
*.dll
*.a
air.toml
/Meta/
