# Temporary and output folders
/data
/playground
/archive
/guix
/inst/CITATION
# RStudio project files
*.Rproj
.Rproj.user
anglemania.Rproj

# R-related system files
.Rhistory
.Rprofile

# Documentation and vignette output
/docs
/doc/
/inst/doc
vignettes/*.html
vignettes/*_files

# Compiled objects (C/C++/Fortran)
*.o
*.so
*.dll
*.a

# macOS system files
.DS_Store
